{
  "extends": ["taro", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-unused-vars": ["warn", {
      "varsIgnorePattern": "Taro"
    }],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx", ".tsx"]
    }],
    "@typescript-eslint/no-unused-vars": ["warn", {
      "varsIgnorePattern": "Taro"
    }],
    "@typescript-eslint/member-delimiter-style": ["off", {
      "multiline": {
        "delimiter": "none",
        "requireLast": false
      },
      "singleline": {
        "delimiter": "semi",
        "requireLast": false
      }
    }],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-empty-function": ["off"],
    "@typescript-eslint/no-empty-interface": ["off"],
    "jsx-quotes": ["error", "prefer-double"],
    "prefer-const": ["warn"],
    "@typescript-eslint/camelcase": ["off", {
      "properties": "alway"
    }],
    "@typescript-eslint/no-unused-var": ["off"],
    "react/jsx-boolean-value": ["off"],
    "@typescript-eslint/ban-types": ["off"],
    "react/no-unescaped-entities": ["off"],
    "react/no-unused-state": ["warn"],
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  }
}
