$color-primary: #e91e63;
$color-white:#ffffff;
$img-height:400px;
$lay-height:160px;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.index {
  background-color: rgb(255, 255, 255);
}

.headn_lay {

  .head_card {
    width: 100%;
    height: $img-height;
    background: $color-white;
    z-index: 1;
    position: absolute;

    .head_img {
      z-index: 0;
      height: $img-height;
      width: 100%;
      position: relative;
      -webkit-filter: blur(8px);
      filter: blur(8px);
    }

    .head_lay {
      height: $img-height;
      z-index: 1;
      top: -$img-height;
      position: relative;
      display: flex;
      align-items: center;

      .head_title {
        position: relative;
        margin-left: 8px;

      }
    }
  }

  .content_lay {
    width: 100%;
    // background-image: image("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDgwLjA5MyIgaGVpZ2h0PSI2NjEuNDg1IiB2aWV3Qm94PSIwIDAgMTA4MC4wOTMgNjYxLjQ4NSI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6I2ZmZjt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0yMjMwLDgwNC40NzJzLjExOCwyMjYuNDIxLTIzOS42LDIyOS4wMzQtNjQxLjM3MywwLTY0MS4zNzMsMC0xOTguNTA5LTMuODE3LTE5OC45MjksMTkyLjAxNiwwLDI0MC40MzYsMCwyNDAuNDM2SDIyMzBaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTE0OS45MDcgLTgwNC40NzIpIi8+PC9zdmc+");
    z-index: 2;
    position: relative;

    .content_padding_lay {
      height: $lay-height;
    }

    .subject_head {
      height: 280px;

      .head_subject_img_lay {
        position: relative;

        .head_subject_img {
          height: 280px;
          width: 100%;
          z-index: 3;
          position: relative;
        }
      }

      .head_subject_title {

        height: $lay-height;
        width: fit-content;
        position: relative;
        z-index: 4;
        top: -$lay-height;
        display: flex;
        align-items: center;

        .head_subject_title_font {
          color: #040C14;
          font-size: 42rpx;
          margin-left: 48px;
        }
      }
    }

    .content_footer_lay {
      height: 24px;
      width: 100%;
      background: #ffffff;
      // z-index: 4;
      // position: relative;
    }
  }

}

.info_card {
  margin: 12px;
  padding: 16px;

  .info_index {
    background: $color-primary;
    width: 4px;
    height: 24px;
    margin-right: 8px;
  }
}

.fade_in {
  animation: fadeIn 1s both;
}

.title {
  margin-top: 24px;
  white-space: pre-line;
}

.card_item {
  margin: 0 24px;
  box-shadow: 2px 8px 20px rgba(201, 201, 201, 0.849), 2px 8px 16px rgba(243, 70, 113, 0.116);
  position: relative;
  z-index: 1;

  .card_info {
    padding: 8px 0 0;
  }

  .card_img {
    width: 100%;
    object-fit: contain;
  }
}
