$at-grid-text-color:#ffffff;
$grid-title:#666666;
$grid-font:#666666;
$grid-item-active:rgba(50, 196, 240, 0.308);
$head_height:320px;


.swiper_lay {
  height: 300px;
  width: 100%;

  .swiper-item {

    .swiper-img {
      margin: 12px 5% 12px;
      width: 90%;
      height: 280px;
      border-radius: 4px;
      box-shadow: 1px 1px 12px rgb(177, 177, 177);
    }
  }
}

.lay {
  .lay_bg {
    position: relative;

    .lay_img {
      width: 100%;
      height: $head_height;
    }
  }

  .lay_fg {
    position: absolute;
    width: 100%;
    top: $head_height;

    .lay_container {
      margin-top: 24px;

      .lay_container_grid {
        background: linear-gradient(rgba(255, 192, 203, 0), pink);
        color: white !important;
      }
    }
  }
}

.grid_title {
  color: $grid-title;
}

.grid_lay {
  padding: 8px 0 24px;

  .grid_item_lay {
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    /* 动画变幻速度 ease:减速(默认)  linear:匀速  ease-in:加速 ease-out:减速  ease-in-out:先加速后减速 */
    transition-delay: 0s;
    /* 动画延迟 */
    transition: all 0.2s ease-in-out 0s;

    &:active {
      background-color: $grid-item-active;
    }

    .grid_lay_img {
      margin-top: 24px;
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;

      .grid_img {
        // height: 200px;
      }
    }

    .grid_text {
      width: auto;
      color: $grid-font;
      text-align: center;
      margin: 12px auto;
      font-size: 28px;
    }
  }
}

$second_margin_top: 4px;
$second_padding: 10px;

.second_lay {
  padding: 16px 2% 16px;

  .second_lay_head {
    margin-top: $second_margin_top;

    .tag_lay {
      padding-left: $second_padding;
    }

    .recent_more_lay {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: $second_padding;

      .recent_more {
        width: fit-content;
        border-radius: 12px;
        color: #ffffff;
        background-color: #e91e62;
        box-shadow: 4px 4px 4px #e91e6262;
        font-size: 24px;
        padding: 8px 16px;
      }
    }
  }

  .second_lay_list {
    margin-top: $second_margin_top;
  }
}

.cover_item_lay {
  margin: 24px;
  padding: 0 0 16px;
  box-shadow: 4px 12px 24px rgb(218, 218, 218);
  border-radius: 12px;

  .cover_item_img {
    width: 100%;
    height: 240px;
    border-radius: 16px 16px 0 0;
  }

  .flex-container {
    display: flex;
    justify-content: flex-end;

    .flex-item-detail {
      // color: #e91e63;
      color: #555555;
      font-size: 24px;
    }
  }
}

// 最新相册
$album_tag_height: 160px;
$album_tag_width: 36px;
$album_tag_font_size: 22px;

.album_item_lay {
  margin: 18px 18px;
  display: flex;

  .album_item_img {
    width: calc(100% - #{$album_tag_width});
    height: calc(#{$album_tag_height} + 16px);
    z-index: 0;
    position: relative;
    border-radius: 12px;
    box-shadow: -4px 10px 16px rgb(218, 218, 218);
  }

  .album_item_container {
    height: $album_tag_height;
    width: $album_tag_width;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    background-color: #ffffff;
    box-shadow: 4px 2px 20px rgb(218, 218, 218);
    border-radius: 0 16px 16px 0;

    .album_item_detail {
      width: fit-content;
      color: #555555;
      font-size: $album_tag_font_size;
      writing-mode: vertical-lr;
    }
  }
}

.recent_tag {
  width: 6px;
  height: 36px;
  background: #e91e63;
}

.recent_news {
  color: #5f5f5f;
  font-size: 32px;
  padding: 16px 24px;
}
