$color-primary: #e91e63;
$info-color:#2ca6bc;
$white:#FFFFFF;

.btn {
  margin: 24px;
}

.info-btn {
  background: $info-color;
  color: $white;
}

.info-lay {
  margin: 2px;
}

.info-lay-description {
  margin-top: 2px;
}

.info-font {
  color: $white;
}

.info-card {
  margin: 12px;
  padding: 24px;
  // background: $color-primary;
  box-shadow: 6px 6px 12px rgb(233, 161, 161);
}
