$color-primary: #e91e63;

.index {
  margin-bottom: 24px;
}

.info-card {
  margin: 12px;
  padding: 16px;

  .info-index {
    background: $color-primary;
    width: 8px;
    height: 42px;
    margin-right: 8px;
  }

  .info_title {
    font-size: 36px;
  }
}

.title {
  margin-top: 24px;
  white-space: pre-line;
  font-size: 32px;
}

.describe {
  margin-top: 0;
  font-size: 28px;
}

.m_card {

  .card_tag {
    width: fit-content;
    // height: 48px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    margin: 0 0 0 36px;
    color: #ffffff;
    border-radius: 8px;
    background-color: $color-primary;
    box-shadow: 4px 8px 8px rgba(243, 70, 113, 0.466);
    position: relative;
    z-index: 2;
    top: 32px;
  }

  .card_item {
    margin: 0 24px;
    box-shadow: 2px 4px 16px rgba(201, 201, 201, 0.849), 2px 4px 12px rgba(243, 70, 113, 0.116);
    position: relative;
    z-index: 1;

    .card_info {
      padding: 24px 0 0;
    }

    .card_img {
      width: 100%;
      object-fit: contain;
    }
  }

}
