$grid-item-active:rgba(50, 196, 240, 0.308);
$item-active:rgba(240, 50, 161, 0.308);
$lay-height:360px; //背景图高度
$lay-top:320px; //偏移高度
$type-height:340px; //类型高度
$type-small-height:170px;

.toy_item_lay {
  height: $type-height;
  border-radius: 12px;
  background: #f6f6f6;
}

.toy-item-left {
  // background: #e91e62;
}

.toy-item-right {

  .toy-item-top {
    height: $type-small-height;
    // background: #2a75a7;
  }

  .toy-item-bottom {
    height: $type-small-height;
    // background: #598fb3;
  }
}

.toy-type {
  $padding: 8px;
  height: 100%;
  color: white;
  padding: $padding;

  .toy-card {
    height: calc(100% - #{$padding * 2});
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 6px 16px rgb(218, 218, 218);
    border-radius: 12px;
    font-size: 32px;

    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    /* 动画变幻速度 ease:减速(默认)  linear:匀速  ease-in:加速 ease-out:减速  ease-in-out:先加速后减速 */
    transition-delay: 0s;
    /* 动画延迟 */
    transition: all 0.2s ease-in-out 0s;

    &:active {
      background-color: $grid-item-active;
    }
  }
}

.toy-fylder {
  background: #e91e62 url("http://photo.fylder.me/photo_1570669051403.jpg?imageMogr2/auto-orient/thumbnail/!180x180r/blur/14x7/quality/75");
}

.toy-m {
  background: #e91e62 url("http://photo.fylder.me/photo_1568054596884.jpg?imageMogr2/auto-orient/thumbnail/!120x120r/blur/14x7/quality/75");
}

.toy-comic {
  background: #e91e62 url("http://photo.fylder.me/photo_1568057315030.jpg?imageMogr2/auto-orient/thumbnail/!120x120r/blur/14x7/quality/75");
}


.lay {
  .lay_bg {
    position: relative;

    .lay_img {
      width: 100%;
      height: $lay-height;
    }
  }

  .lay_fg {
    position: absolute;
    width: 100%;
    top: $lay-top;

    .lay_search {
      position: relative;
      height: 64px;
      width: 100%;

      .lay_font {
        color: #AAAAAA;
      }
    }

    .lay_container {
      margin-top: 24px;

      .lay_container_grid {
        background: linear-gradient(rgba(255, 192, 203, 0), pink);
        color: white !important;
      }
    }
  }
}

.item_lay {
  margin: 170px 24px 24px;

  .item_lay_container {
    margin: 24px 0 12px;
    position: relative;
    box-shadow: 4px 16px 24px rgb(218, 218, 218);

    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    /* 动画变幻速度 ease:减速(默认)  linear:匀速  ease-in:加速 ease-out:减速  ease-in-out:先加速后减速 */
    transition-delay: 0s;
    /* 动画延迟 */
    transition: all 0.2s ease-in-out 0s;

    &:active {
      background-color: $item-active;
    }

    .item_lay_title {
      padding: 24px 0 12px;
    }

    .item_lay_img {
      width: 100%;
      height: 360px;
    }

    .item_lay_info {
      padding: 12px 0 12px;
      // font-size: 28px;
      color: #888888;
    }
  }
}
